:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --text-size-m: 18px;
  --line-height: 23.4px;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --content-title-color: #ff0070;
  --background-color: #000028;
  --link-shadow-color: #ff0070;
  --title-text-color: #000028;

   .decorated__item {
    display: inline-flex;
  }
}
