@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --text-size-m: 18px;
    --line-height: 23.4px;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --content-title-color: #353430;
  }

   .decorated__item {
    display: none;
  }
}

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --text-size-m: 18px;
  --line-height: 23.4px;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --content-title-color: #353430;

  .decorated__item {
    display: none;
  }
}
