@media (prefers-color-scheme: light) {
  :root {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --text-size-m: 18px;
  --line-height: 23.4px;
  --text-color: #353430;
  --title-color: #FFC2E6;
  }

  .decorated__item {
    display: none;
  }
}

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --text-size-m: 18px;
  --line-height: 23.4px;
  --text-color: #353430;
  --title-color: #FFC2E6;
  
   .decorated__item {
    display: none;
  }
}